* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: .5rem;
    background-color: #fff;
}

@media screen and (min-width: 375px) {
    .content {
        max-width: fit-content;
        height: max-content;
        margin: auto;
        border-radius: 1rem;
    }
}